
        :root {
            --primaryColor: #1D4354;
            --secondaryColor: #5BBC2E;
            --iconColor: #5BBC2E;
            --iconColorOp: #74D249;
            --iconColorOp2: #93E76C;
        }
        